*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containter{
    width: 80%;
    margin: auto;
}
nav h1{
    padding-left: 2%;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    font-size: x-large;
    font-weight: 600;
    
}
nav ul{
    padding-right: 2%;
    color: lightgray;
    justify-content: space-between;
    width: 40%;
    display: flex;
}
nav li{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
}
nav a{
    text-decoration: none;
    color: lightgray;
}
.section-1th{
background-image: url(../Images/city.jpg);
background-size: cover;
}
.arrow-down{
    color: lightgray;
}
.search{
    color: white;
}
.flex-nav{
    display: flex;
    justify-content: space-between;
}
nav{
    padding: 1.5% 0%;
}
.h1-nav{
    color: white;
}
.flex-1th{
    padding-bottom: 2%;
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 20%;
    color: white;
    display: flex;
}
.flex-1th div{
    width: 30%;
}
.h2-flex-1th{
    border: solid 5px;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100% ;
    border-top-left-radius:100%;
    border-bottom-left-radius: 100%;
    border-left-color:lightgray;
    border-right-color: blue;
    border-top-color: blue;
    border-bottom-color: blue;
    padding-left: 3.5%;
    padding-top: 0.5% ;
    width: 55px;
    height: 55px;
    color: lightgray;
}
.p2-flex-1th{
    font-weight: 600;
    color: white;
}
.p1-flex-1th{
    font-weight: 600;
    color: lightgray;
}
.h1-flex-1th{
    border: solid 5px lightgray;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100% ;
    border-top-left-radius:100%;
    border-bottom-left-radius: 100%;
    padding-left: 3.5%;
    padding-top: 0.5% ;
    width: 55px;
    height: 55px;

}
.h3-flex-1th{
    border: solid 5px lightgray;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100% ;
    border-top-left-radius:100%;
    border-bottom-left-radius: 100%;
    padding-left: 3.5%;
    padding-top: 0.5% ;
    width: 55px;
    height: 55px;

    color: lightgray;
}
.p3-flex-1th{
    font-weight: 600;
    color: lightgray;
}
.flex-1th p{
    width: 80%;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.459);
    width: 100%;
    height: 100%;
}
.div1-section-2th{display: flex; justify-content: space-between;}
.div1-section-2th li{display: flex;}
.div1-section-2th i{
    color: gray;
}
.div1-section-2th ul{display: flex; justify-content: space-between; width: 60%;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
/* font-weight:b;} */}
.div1-section-2th p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: larger;
}


.section-2th{margin-top: 5%;}
.div1-section-2th{padding-bottom: 1%;}

.a-div1-section-2th{
    text-decoration: none;
    color: gray;
}
.All-section-2th{
    color: black;
    text-decoration: none;
    margin-bottom: -15px;
    border-bottom: solid blue 2px;
}
.crad-1{width: 30%; display: flex; flex-direction: column;}
.crad-1 img{width: 100%;}
.div2-section-2th-p1{box-shadow: 0px 10px 10px 2px lightslategrey;}
.sec2{padding-top: 2%;}
.p1{font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: x-large;
font-weight: 500;
padding: 3%;}
.p2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: large;
    color: lightslategray;
    padding: 3%;
}
.p3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: large;
    color: lightslategray;

    padding: 3%;
}
/* .div3-sec2-cards{display: flex;
width: 20%;}

.div3-sec2 img{width: 100%;}
.big{
    width: 70%;
} */
.div3-sec2{width: 45%;margin-top: 1%;}

.sec2 {display: flex;}
.div2-section-2th{width: 50%;}
.crad-1{width: 100%;}

.div3-sec2-cards img{width: 30%; display: flex;}
.big{display: flex;}
.div3-sec2-cards{display: flex;}
.big{justify-content: space-between;}
.div3-sec2-cards{margin-bottom: 6%}
.divs-sec2{padding-left: 3%; padding-top: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.div3-sec2-cards{box-shadow: 0 0 10px 8px rgb(153, 153, 153);}
.arrows-sec2{margin-left: 0;

margin-left: 2%;
color: lightgrey;
border: 2px solid lightgrey;
border-radius: 80%;
width: 40px;
height: 40px;
padding-top: 2%;
padding-left: 2.5%;
font-size: x-large;
margin-top: 5%;
font-size:medium;
}
.right-div{width: 30%;
border-left: 2px solid lightgray;}
.right-div h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-bottom: 2px solid lightgray;
}
.right-div-p1{
    padding-top: 10%;
    padding-left: 10%;
    padding-bottom: 10%;
    border-bottom: 2px solid lightgray;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: lightslategrey;
    font-weight: 600;
}
.d-flex{
    display: flex;
    justify-content: space-between;
}
.left-div{
    width: 65%;
}
.big{justify-content: space-between;}
.crads-second{display: flex;
flex-direction: column;}
.card-1th{
    display: flex;
    padding-left: 10%;
    padding-bottom: 2%;


}
.card-1th img{width: 30%;}
.card-1th p{
    color: black;
}
.crads-second{padding-top: 10%;
    padding-bottom: 10%;
}
.crads-second p{
    box-shadow: 5px 0 10px rgb(153, 153, 153);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 5%;
    font-weight: 600;

}

.fa-facebook-f, .fa-twitter, .fa-pinterest, .fa-vimeo, .fa-instagram, .fa-google{
color: gray;
margin-top: 10%;

border: solid lightgrey 1px;
border-radius: 50px;
width: 45px;
height: 45px;
padding-top: 3.5%;
padding-left: 3.5%;
}
.Icons{padding-left: 10%;
padding-bottom: 10%;
border-bottom: solid 2px lightgrey;}
.stay-connected{
    border-top:solid 2px lightgrey ;
}
.last-card img{
    width: 100%;
    padding-top: 10%;
    padding-left: 10%;
}
.last-card p{

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 10%;
    padding-top: 10%;
    font-weight: 500;
    font-size: larger;
}
.ul3{padding-top: 5%;}
.part2{width: 45%;
padding-top: 2%;}
.part2 p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.part2 img{
    position: relative;
    width: 100%;
}
.card1p1{
    padding: 2%;
    font-size:x-large;
    font-weight: 500;
}
.card1p2{
    padding: 2%;
    color: gray;
}
.card1p3{
    padding: 2%;
    color: gray;
}

.card1-ps{
    box-shadow: 0px 10px 10px 2px lightslategrey;
}
.cards-2{display: flex; margin-top: 3%; box-shadow: 0px 0px 10px 2px lightslategrey;}
.cards-2 img{
    width: 30%;
}
.p1th{font-weight: 500; padding: 5%;}
.p2th{font-weight: 400; padding-left: 5%; padding-bottom: 5%; color: gray;}
.part3 {width: 45%;padding-top: 2%;}
.part3 img{width: 100%;}
.part1-3{
    display: flex;
    justify-content: space-between;
}

.cards-3{display: flex; margin-top: 3%; box-shadow: 0px 0px 10px 2px lightslategrey;}
.cards-3 img{width: 30%;}

.part3 p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.arrows2-sec2{margin-left: 0;

    margin-left: 2%;
    color: lightgrey;
    border: 2px solid lightgrey;
    border-radius: 80%;
    width: 40px;
    height: 40px;
    padding-top: 1%;
    padding-left: 1%;
    font-size: x-large;
    margin-top: 2%;
    font-size:medium;}
    .divs-sec3{display: flex; justify-content: space-between;}
    .div-sec3{width: 30%; margin-top: 5%;position: relative;}
    .divs-sec3 img{width: 100%; height: 100%;}
    .ab-sec3{position: absolute;  top: 10%;
        text-align: center;
    }
    .p-1{font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    padding: 5%;
    font-weight: 600;
    font-size: larger;
    }
    .p-2{font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: gray;
    margin-top: 10%;
}
.ab-sec3 button{
    color: blue;
    background-color: white;
    border: solid 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    font-size:large;
}
/* .over-lay{
        background-color: rgba(0, 0, 0, 0.459);
        width: 100%;
        height: 100%;
} */
 .right{
    width: 65%;
 }
 .right img{width: 25%;}
 .right-big-divs{display: flex;
    margin-bottom: 1%;
    box-shadow: 0px 0px 10px 5px lightslategray;
}
.right-left{
    display: flex;
    justify-content: space-between;
}
.left{width:30%}
.left img{
    width: 100%;
}
.right h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 1%;
    border-bottom: 2px solid lightgrey;
}

.section-4th{
    margin-top: 5%;
}
.all-right{
    margin-top: 3%;
}
.all-right p{
    padding-left: 3%;
    padding-right: 3%;
}
.first-ps{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 2%;
    font-size: larger;
    font-weight: 600;
}
.second-ps{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 2%;
    color: gray;
}
.third-ps{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 2%;
    color: gray;
    padding-bottom: 2%;
}
.p11{
    font-weight: 600;

}
.p22{
    color: gray;
}
.left h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 1%;
    border-bottom: 2px solid lightgrey;
}
.all-left{
    margin-top: 7%;
}
.p111{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: larger;
}
.div123{
    padding: 2%;
}
.p222{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: gray;
    margin-top: 1%;
}
.p333{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: gray;
    margin-top: 2%;
}

.ab-sec3{
    background-color: rgba(0, 0, 0, 0.466);
    top: 0;
    height: 100%;
    padding-top: 5%;
}
.videoo{
    box-shadow: 0px 0px 10px 5px lightslategray;
    margin-bottom: 2%;
}
.play{
    font-size: larger;
    position: absolute;
    color: gray;
    margin-left: 11%;
    margin-top: -18%;
    padding-top: 0.8%;
    padding-left: 0.8%;
    height: 50px;
    width: 50px;
    border:solid white 2px ;
    border-radius: 50%;
    background-color: white;
    bottom: 250px;
    left: 200px;
}
.div123 img{
    position: relative;
}
.div123 img{
    position: relative;
}
.vidoo button{
    position: absolute;

}
.Read-more{
    color: gray;
    margin-left: 40%;
    border: 1px solid gray;
    border-radius: 50px;
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    padding-left:1% ;
    padding-right: 1%;
    padding-top: 5px;
    padding-bottom: 9px;
    padding-bottom: 9px;
}
.footer-1{
    width: 30%;
}
.footer-2{
    width: 30%;
}
.footer-3{
    width: 30%;
}
.footer{display: flex; justify-content: space-between;}
.footer-1 h3{
    color: white;
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 10%;
}
.footer-1 p{color: gray; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
padding-top: 5%;}
footer{background-color: rgb(22, 21, 21);}
.footer-2 ul{
    display: flex;
}
.footer-2 li{
    color: gray;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ul1 li{
    margin-right: 20%;
}
.ul2 li{
    margin-right: 17%;
}
.uls{
    padding-top: 12%;
}
.footer-3{font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: white; font-size: larger; padding-top: 3%;}
.footer-3 input{background-color: transparent; outline: 0;border: 0; border-bottom: 1px solid gray; color: gray;}
.footer-3 i{color: gray; border-bottom: 1px solid gray; margin-left: -10px;}
footer{margin-top: 5%;padding-bottom: 5%;}
.pos button{
    position: absolute;
    bottom: 340px;;
    color: blue;
    background-color: white;
    border: solid 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    font-size:large;
    left: 50px;

}
.pos{position: absolute;

}
.videoo img{
    position: relative;
}